<mat-card>
        <mat-card-title>Sign In</mat-card-title>
        <p style="text-align: center">Don't have an account? <a [routerLink]="['/sign-up']" href="">Sign Up</a> </p>
        <mat-card-content>
                <form>
                        <p>
                                <mat-form-field>
                                        <input type="text" matInput placeholder="You Email Address" formControlName="email">
                                </mat-form-field>
                        </p>

                        <p>
                                <mat-form-field>
                                        <input type="password" matInput placeholder="Password"
                                                formControlName="password">
                                </mat-form-field>
                        </p>

                        <!-- <p *ngIf="error" class="error">
       "sdfsf"
      </p> -->

                        <div class="button">
                                <button type="submit" mat-raised-button color="primary">Sign In</button>
                        </div>

                </form>
        </mat-card-content>
</mat-card>