<mat-grid-list cols="4" rowHeight="fit"  style="height:200px" gutterSize="10px">
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-header>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>


                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-header>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>


                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-header>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>


                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="fit"  style="height:200px;margin-top: 30px;" gutterSize="10px" >
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-header>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>


                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-header>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>


                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-header>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>


                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="fit"  style="height:200px;margin-top: 30px;" gutterSize="10px" >
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-header>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>


                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-header>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>


                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-header>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>


                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card class="example-card">
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-content>
                                <p>This card has divider and indeterminate progress as footer</p>
                                <p> longText </p>
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                        </mat-card-actions>
                        <mat-card-footer>
                                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        </mat-card-footer>
                </mat-card>
        </mat-grid-tile>
</mat-grid-list>