<mat-card>
        <mat-card-title>Create A New Event</mat-card-title>
        <mat-card-content>
                <form [formGroup]="aform">

                        <mat-form-field>
                                <input type="text" matInput placeholder="Event Name" formControlName="name">
                        </mat-form-field>


                        <mat-form-field>
                                <textarea type="text" matInput placeholder="Event Description"
                                        formControlName="description"></textarea>
                        </mat-form-field>



                        <mat-form-field>
                                <input type="password" matInput placeholder="Event Location" formControlName="location">
                        </mat-form-field>


                        <mat-radio-group aria-label="Select an option">
                                <p>Has Tickets? <mat-radio-button value="1" style="margin-right:10px">Yes
                                        </mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                </p>

                        </mat-radio-group>


                        <mat-form-field>
                                <input type="number" matInput placeholder="No Of Tickets" formControlName="location"
                                        min="1">
                        </mat-form-field>
                        <div>
                                <mat-form-field style="width: 50%">
                                        <input matInput type="datetime-local" placeholder="Start At">
                                </mat-form-field>
                                <mat-form-field style="width: 50%">
                                        <input matInput type="datetime-local" placeholder="End At">
                                </mat-form-field>
                        </div>

                        <!-- <p *ngIf="error" class="error">
       "sdfsf"
      </p> -->

                        <div class="button">
                                <button type="submit" mat-raised-button color="primary">Create Event</button>
                        </div>

                </form>
        </mat-card-content>
</mat-card>