<header>
        <p>Sept 15, 2022 at 4.00 AM - Sept 15, 2022 at 4.00 AM</p>
        <h2 class="title">Event Name</h2>
        <h5>Dhaka, Bangladesh</h5>
</header>
<div style="display: flex;justify-content: center; height: 80vh;">

        <mat-tab-group mat-align-tabs="center" style="width: 100% !important; height: 100%;">
                <mat-tab label="About">About</mat-tab>
                <mat-tab label="Discussion">
                        <section style="width: 80%;margin: auto; margin-top: 10px;">
                                <div style="width: 100%">
                                        <mat-form-field style="width:100%" class="example-full-width" appearance="fill">
                                                <mat-label>Share your updates!</mat-label>
                                                <textarea matInput style="width:100%" name="hello" id="" cols="30"
                                                        rows="10"></textarea>
                                        </mat-form-field>
                                        <div class="button" style="text-align: end;">
                                                <button type="submit" mat-raised-button color="primary">Post</button>
                                        </div>

                                </div>
                        </section>
                        <section style="width: 80%;margin: auto; margin-top: 10px; height: 100%;">
                                <div style="width: 100%">
                                        <mat-card class="example-card">
                                                <mat-card-subtitle>19 hours ago</mat-card-subtitle>
                                                <mat-card-title>Shiba Inu</mat-card-title>
                                                <mat-card-content>
                                                        <p>This card has divider and indeterminate progress as footer
                                                        </p>

                                                </mat-card-content>
                                                <mat-divider inset></mat-divider>

                                        </mat-card>
                                        <mat-card class="example-card">
                                                <mat-card-subtitle>19 hours ago</mat-card-subtitle>
                                                <mat-card-title>Shiba Inu</mat-card-title>
                                                <mat-card-content>
                                                        <p>This card has divider and indeterminate progress as footer
                                                        </p>

                                                </mat-card-content>
                                                <mat-divider inset></mat-divider>

                                        </mat-card>


                                </div>

                        </section>

                </mat-tab>

        </mat-tab-group>
</div>