<header>
        <p>Sept 15, 2022 at 4.00 AM - Sept 15, 2022 at 4.00 AM</p>
        <h2 class="title">Event Name</h2>
        <h5>Dhaka, Bangladesh</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ducimus, dicta numquam eos fuga dolores totam. Placeat, vero molestias dolor iste consequuntur perferendis eveniet quae numquam! Unde, aliquam voluptatibus. Explicabo?</p>
</header>
<div style="display: flex;justify-content: center; height: 80vh;">

        <mat-tab-group mat-align-tabs="center" style="width: 100% !important; height: 100%;">
                <mat-tab label="About">
                        <section style="display: flex;justify-content:center;margin-top: 10px;">
                                <mat-card class="example-card" style="width: 25%;text-align:center">

                                        <mat-card-title>145</mat-card-title>

                                        <mat-card-subtitle>No Of Reservations</mat-card-subtitle>
                                        <mat-card-actions style="text-align: end">
                                               
                                                <button mat-mini-fab aria-label="Example icon-button with a heart icon" style="background-color: rgba(0,0,0,.87);">
                                                        <mat-icon>save_alt</mat-icon>
                                                </button>
                                        </mat-card-actions>

                                </mat-card>

                        </section>
                        
                </mat-tab>
                <mat-tab label="Discussion">
                        <section style="width: 80%;margin: auto; margin-top: 10px;">
                                <div style="width: 100%">
                                        <mat-form-field style="width:100%" class="example-full-width" appearance="fill">
                                                <mat-label>Share your updates!</mat-label>
                                                <textarea matInput style="width:100%" name="hello" id="" cols="30"
                                                        rows="10"></textarea>
                                        </mat-form-field>
                                        <div class="button" style="text-align: end;">
                                                <button type="submit" mat-raised-button color="primary">Post</button>
                                        </div>

                                </div>
                        </section>
                        <section style="width: 80%;margin: auto; margin-top: 10px; height: 100%;">
                                <div style="width: 100%">
                                        <mat-card class="example-card" style="margin-bottom: 15px;">
                                                <mat-card-subtitle>19 hours ago</mat-card-subtitle>
                                                <mat-card-content>
                                                        <p>This card has divider and indeterminate progress as footer
                                                        </p>

                                                </mat-card-content>
                                                <mat-divider inset></mat-divider>

                                        </mat-card>
                                        <mat-card class="example-card">
                                                <mat-card-subtitle>19 hours ago</mat-card-subtitle>
                                                <mat-card-content>
                                                        <p>This card has divider and indeterminate progress as footer
                                                        </p>

                                                </mat-card-content>
                                                <mat-divider inset></mat-divider>

                                        </mat-card>


                                </div>

                        </section>

                </mat-tab>

        </mat-tab-group>
</div>